.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: #55F565;
    border: 1px #55F565 solid;
    width: 14rem;
    height: 2rem;
    border-radius: 30px;
}