.container {
    padding-bottom: 1.5rem;
}

input {
    width: 30em;
    height: 2rem;
    border: 1px solid #25C435;
    border-radius: 10px;
    text-align: left;
}

.inputField:focus {
    outline: none !important;
    border-color: #25C435;
    box-shadow: 0 0 4px #25C435;
}