.ExerciseAnswerTitle {
    display: flex;
    width: 25rem;
    height: 3.5rem;
    background-color: #0F6D91;
    cursor: pointer;
    justify-content: center;
    margin: auto;
    list-style: none;
    flex: 0 0 25.5%;
    margin-bottom: 1rem;
    color: white;
    font-weight: bold;
    align-items: center;
    border-radius: 20px;
    bottom: 2rem;
}

.ExerciseAnswerDescription {
    width: 50rem;
    height: auto;
    background-color: #0F6D91;
    cursor: pointer;
    justify-content: center;
    margin: auto;
    padding: 2rem;
    margin-bottom: 5rem;
    color: white;
    font-weight: bold;
    align-items: center;
    border-radius: 15px;
    position: relative;
    bottom: 2rem;
    top: 0.5rem;
    text-align: justify;
}