.formLogin {
    display: flex;
    justify-content: center;
    margin-top: 15rem;
}

form {
    flex: 1;
    width: 100%;
    justify-content: center;
}

.Cadastro{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.Cadastro > a{
    margin-left: 0.3rem;
    text-decoration: none;
}

.Cadastro > a:checked{
    color: black;
    text-decoration: none;
}

.buttonLogin{
    display: flex;
    justify-content: center;
}

.button{
    background-color: #55F565;
    border: 1px #55F565 solid;
    width: 14rem;
    height: 2rem;
    border-radius: 30px;
    justify-content: center;
}